html {
  scroll-behavior: smooth;
}
body {
  font-family: $font-main;
  font-size: 18px;
  width: 100%;
  margin: 0;
  height: calc(100vw + 60px);
  min-height: calc(100vh + 60px);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-attachment: fixed;
  background-position: 50%;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: default;
  z-index: -5;
  color: getColor(main);
}

main {
  max-width: 1300px;
  margin: 12vh auto;
}

/*anchors*/
a {
  text-decoration: none;
  color: getColor(link);
  transition: 0.3s;
  &:hover:not(.cta) {
    color: getColor(active);
  }
}

.active {
  color: getColor(active);
}

/*Headlines*/

h1 {
  max-width: 380px;
  text-align: center;
  margin: 0px auto 20px auto;
}

h2 {
  margin-bottom: 10px;
}

/*Blocks*/

section:not(#contact) {
  margin-bottom: 50vh !important;
}
.welcome {
  margin-top: 10px !important;
}

#contact {
  @extend %section-hide;
  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }
}
#contact.visible {
  @extend %section-display;
}

// /***When using nav to scroll down to the section, the section will be 150px below top of window***/
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 150px;
}

.welcome {
  // height: 100%;
  // margin-top: 50px;
  display: flex;
  flex-direction: column;

  // justify-content: space-around;

  &__main {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100%;
    grid-template-rows: 1fr;

    flex-direction: column;
    justify-content: space-around !important;
    // & > * {
    //   flex: auto;
    // }
    // flex: 100%;
    // background-color: red;
    // h1,
    // div,
    // a {
    //   flex: 1;
    // }
  }
  &__cta {
    align-items: center;
  }
}

.featured__links,
.project__links,
h1,
h2,
h3,
.nav__link,
.menu__dropdown li a {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 800px) {
  main {
    width: 95vw;
  }
}

@media only screen and (max-width: 600px) {
  #about,
  #skills,
  #projects,
  #contact {
    scroll-margin-top: 0px;
  }
}
