.welcome__typewriter,
.contact__textbox {
  @extend %textbox-small;
  @extend %background;
  &:hover {
    @extend %background-hover;
  }
  p {
    line-height: 1.7;
  }
}

.welcome__typewriter {
  margin-top: 20px;
  min-height: 90px;
  min-width: 250px;
}

// @media only screen and (max-width: 360px) {
//   .welcome__typewriter {
//     padding-bottom: 50px;
//   }
// }
